    // Обобщенная низкоуровневая периферия
    let cp = cortex_m::Peripherals::take().unwrap();
    // Периферия stm32f1
    let dp = pac::Peripherals::take().unwrap();

    // Инициализация тактирования и задержек.
    let mut flash = dp.FLASH.constrain();
    let mut rcc = dp.RCC.constrain();
    let clocks = rcc.cfgr.freeze(&mut flash.acr);
    let mut delay = Delay::new(cp.SYST, clocks.sysclk().raw());
