    let mut w5500_rst_{{ peripheral.id }} = gpio{{ peripheral.rst.port }}.p{{ peripheral.rst.port }}{{ peripheral.rst.pin_num }}.into_push_pull_output(&mut gpio{{ peripheral.rst.port }}.{{ peripheral.rst.cr_reg }});
    let mut w5500_cs_{{ peripheral.id }} = gpio{{ peripheral.cs.port }}.p{{ peripheral.cs.port }}{{ peripheral.cs.pin_num }}.into_push_pull_output(&mut gpio{{ peripheral.cs.port }}.{{ peripheral.cs.cr_reg }});
    w5500_cs_{{ peripheral.id }}.set_high(); // Изначально CS в высоком уровне (неактивен)
