[target.{{ target | default('thumbv7em-none-eabi') }}]
# раскомментируйте эту строку, чтобы `cargo run` запускал программы в QEMU
# runner = "qemu-system-arm -cpu cortex-m3 -machine lm3s6965evb -nographic -semihosting-config enable=on,target=native -kernel"
runner = "probe-rs run --chip {{ chip | default('STM32F401CCU6') }}"

[target.'cfg(all(target_arch = "arm", target_os = "none"))']
# раскомментируйте ОДНУ из этих трёх опций, чтобы `cargo run` запускал сессию GDB
# какую опцию выбрать зависит от вашей системы
# runner = "arm-none-eabi-gdb -q -x openocd.gdb"
# runner = "gdb-multiarch -q -x openocd.gdb"
# runner = "gdb -q -x openocd.gdb"

rustflags = [
  # Раньше флаги линкера --nmagic и -Tlink.x указывались здесь.
  # Теперь они устанавливаются в build.rs. Флаги линкера стоит указывать
  # здесь только в том случае, если вам нужен кастомный линкер.

  # По умолчанию используется линкер LLD, поставляемый вместе с Rust
  # toolchain. Если у вас возникнут проблемы с LLD, вы можете переключиться
  # на линкер GNU, раскомментировав следующую строку:
  # "-C", "linker=arm-none-eabi-ld",

  # Если вам нужно слинковаться с предварительно скомпилированными C-библиотеками,
  # используйте GCC в качестве линкера, раскомментировав три строки ниже:
  # "-C", "linker=arm-none-eabi-gcc",
  # "-C", "link-arg=-Wl,-Tlink.x",
  # "-C", "link-arg=-nostartfiles",
]

[build]
# Выберите ОДИН из этих стандартных таргетов для компиляции
{% set t = target | default('thumbv7em-none-eabi') -%}
{% if t == 'thumbv6m-none-eabi' %}target{% else %}# target{% endif %} = "thumbv6m-none-eabi"        # Cortex-M0 and Cortex-M0+
{% if t == 'thumbv7m-none-eabi' %}target{% else %}# target{% endif %} = "thumbv7m-none-eabi"        # Cortex-M3
{% if t == 'thumbv7em-none-eabi' %}target{% else %}# target{% endif %} = "thumbv7em-none-eabi"       # Cortex-M4 and Cortex-M7 (no FPU)
{% if t == 'thumbv7em-none-eabihf' %}target{% else %}# target{% endif %} = "thumbv7em-none-eabihf"     # Cortex-M4F and Cortex-M7F (with FPU)
{% if t == 'thumbv8m.base-none-eabi' %}target{% else %}# target{% endif %} = "thumbv8m.base-none-eabi"   # Cortex-M23
{% if t == 'thumbv8m.main-none-eabi' %}target{% else %}# target{% endif %} = "thumbv8m.main-none-eabi"   # Cortex-M33 (no FPU)
{% if t == 'thumbv8m.main-none-eabihf' %}target{% else %}# target{% endif %} = "thumbv8m.main-none-eabihf" # Cortex-M33 (with FPU)
