//! Этот сборочный скрипт копирует файл `memory.x` из корня крейта в
//! директорию, где линкер всегда сможет его найти во время сборки.
//! Для многих проектов это опционально, так как линкер всегда ищет в
//! корневой директории проекта -- там же, где находится `Cargo.toml`. Однако,
//! если вы используете workspace или у вас сложная структура сборки,
//! этот скрипт становится обязательным. Кроме того, указывая Cargo
//! перезапускать скрипт при изменении `memory.x`, мы гарантируем
//! пересборку приложения с новыми настройками памяти.
//!
//! Сборочный скрипт также задаёт флаги линкера, указывая, какой скрипт использовать.

use std::env;
use std::fs::File;
use std::io::Write;
use std::path::PathBuf;

fn main() {
    // Помещаем `memory.x` в нашу выходную директорию и убеждаемся, что она
    // находится в путях поиска линкера.
    let out = &PathBuf::from(env::var_os("OUT_DIR").unwrap());
    File::create(out.join("memory.x"))
        .unwrap()
        .write_all(include_bytes!("memory.x"))
        .unwrap();
    println!("cargo:rustc-link-search={}", out.display());

    // По умолчанию Cargo перезапускает сборочный скрипт при изменении
    // любого файла в проекте. Указывая `memory.x` здесь,
    // мы гарантируем, что скрипт будет перезапущен только тогда,
    // когда изменится сам `memory.x`.
    println!("cargo:rerun-if-changed=memory.x");

    // Указываем аргументы линкера.

    // `--nmagic` необходим, если адреса секций памяти не выровнены по границе 0x10000,
    // например, секции FLASH и RAM в вашем `memory.x`.
    // См. https://github.com/rust-embedded/cortex-m-quickstart/pull/95
    println!("cargo:rustc-link-arg=--nmagic");

    // Устанавливаем скрипт линкера, предоставляемый cortex-m-rt.
    println!("cargo:rustc-link-arg=-Tlink.x");
}
