build:
    cargo build --release
    cargo objcopy --release -- -O binary target/{{ project_name | default('stm32_project') }}.bin

set_on_bp:
    just build
    dfu-util -a 0 -s {{ flash_origin }}:leave -D target/{{ project_name | default('stm32_project') }}.bin

{% if features.uses_w5500 %}
setup_ip:
    sudo nmcli connection add type ethernet ifname enp45s0 con-name \
        {{ project_name | default('stm32_project') }}_W5500 ipv4.method manual ipv4.addresses 192.168.1.20/24 \
        ipv4.never-default yes
    sudo nmcli connection up {{ project_name | default('stm32_project') }}_W5500
{% endif %}
