#![no_std]
#![no_main]

// Обработчик паники. В случае фатальной ошибки исполнения программа войдет в бесконечный цикл.
use panic_halt as _;
use cortex_m_rt::entry;

// Инициализация базовых импортов для выбранного семейства МК
{% include "blocks/mcu/" ~ mcu_family ~ "/imports.rs.j2" %}

{% if features.uses_w5500 -%}
// Импорты для модуля W5500
{% include "blocks/peripherals/W5500/imports.rs.j2" %}
{%- endif %}

#[entry]
fn main() -> ! {
    // 1. Базовая инициализация МК (получение Peripherals, настройка RCC, SysTick/Delay)
    {% include "blocks/mcu/" ~ mcu_family ~ "/init.rs.j2" %}

    // 2. Инициализация портов (включение тактирования портов, настройка GPIO и SPI)
    {% include "blocks/mcu/" ~ mcu_family ~ "/gpio.rs.j2" %}

    // 3. Инициализация периферии
    {% for configured_peripheral in peripherals -%}
    {% if configured_peripheral.kind == "w5500" -%}
    {% set peripheral = configured_peripheral.w5500 %}
    {% include "blocks/peripherals/W5500/init.rs.j2" %}
    {%- endif %}
    {%- endfor %}

    loop {
        // 4. Основной цикл (опрос периферии, обработка прерываний стейт-машины)
        {% if peripherals | length == 1 and peripherals[0].kind == "w5500" -%}
        {% set peripheral = peripherals[0].w5500 %}
        {% include "blocks/peripherals/W5500/logic_single.rs.j2" %}
        {%- elif peripherals | length == 2 and peripherals[0].kind == "w5500" and peripherals[1].kind == "w5500" -%}
        {% set peripheral1 = peripherals[0].w5500 %}
        {% set peripheral2 = peripherals[1].w5500 %}
        {% include "blocks/peripherals/W5500/logic_bridge.rs.j2" %}
        {%- endif %}
    }
}
